@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  background-color: var(--body-color);
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
  
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
body, html {
  overflow: hidden; /* This will hide both horizontal and vertical scrollbars */
  height: 100%;
}

/* Allow scrolling even though the scrollbar is hidden */
body {
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

/* Hide scrollbar for WebKit browsers */
body::-webkit-scrollbar {
  display: none;
}

/* You can also prevent scrolling on the page if needed (optional) */
body {
  overflow: hidden; /* Prevent scrolling */
}

/* Allow scrolling on specific elements */
body {
  overflow-y: scroll; /* Vertical scrolling */
}
